.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  width: 100%;
  height: auto;
  padding: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.App-header-image {
  height: 100%;
  width: 100%;
}
.App-body {
  background-image: url('image assets/dark-timber-desk-texture_1194-6756-3544321955.jpg');
  background-color: #84A59D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #F6BD60;
}
p {
  color: #F7EDE2;
  text-align: center;
  font-style:italic;
  /* border-style: solid; */
  inset-block: 100px;
  align-content: center;
  padding: 2% 0 0;
}
.p2 {
  color: #485053;
  text-align: center;
  font-style:italic;
  /* border-style: solid; */
  inset-block: 100px;
  align-content: center;
  padding: 2% 0 0;
}

.style1 {
  text-align: left;  
  float: left;       
  width: 50%;        
  box-sizing: border-box; 
}

.style2 {
  text-align: left; 
  float: right;      
  width: 50%;        
  box-sizing: border-box; 
}
.progress-bar {
  position: sticky;
  top: 0;
  padding: 0 0 0;
}
.App-link {
  color: hsl(193, 95%, 68%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
